{% extends "base.html" %}

{% block extra_head %}
  {% if page_obj.has_previous %}
    <link rel="prev" href="http://{{ domain }}/{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}">
  {% endif %}
  {% if page_obj.has_next %}
    <link rel="next" href="http://{{ domain }}/?page={{ page_obj.next_page_number }}">
  {% endif %}
{% endblock extra_head %}

{% block content %}
  {% for post in object_list %}
    {% if page_obj.number == 1 and forloop.counter == 1 %}
      {% include "blog/_post_expanded.html" %}
    {% else %}
      {% include "blog/_post_contracted.html" %}
    {% endif %}
  {% endfor %}

  {% if is_paginated %}
    <div class="row post-nav text-center">
      <div class="col-md-6">
        {% if page_obj.has_next %}
          <a href="/?page={{ page_obj.next_page_number }}">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><br>
            Older Posts
          </a>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if page_obj.has_previous %}
          <a href="/{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>
            Newer Posts
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
