{% extends "base.html" %}

{% block content %}
  {% for post in object_list %}
    {% if page_obj.number == 1 and forloop.counter == 1 %}
      {% include "blog/_post_expanded.html" %}
    {% else %}
      {% include "blog/_post_contracted.html" %}
    {% endif %}
  {% endfor %}

  {% if is_paginated %}
    <div class="row post-nav">
      <div class="col-md-6">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Newer Posts</a>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-lg btn-block">Older Posts <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
