{% extends "blog/write.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Edit Post | {{ block.super }}
{% endblock title %}

{% block content %}
  <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" name="save">Save</button>
    {% if post.publish %}
      <button type="submit" class="btn btn-warning" name="unpublish">Unpublish</button>
    {% else %}
      <button type="submit" class="btn btn-danger" name="publish">Publish</button>
    {% endif %}
  </form>
{% endblock %}
