{% extends "base.html" %}

{% block title %}
  About | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row post-expanded">
  <h2>About</h2>
  <p>Environmental friction is the resistance to getting out there, the "buts" that keep people from a more active lifestyle and from engagement with their community. Environmental friction is also the rooting force that provides points of connection with a community and creates a sense of place. As the resisting friction diminishes, the rooting friction becomes more potent. What <em>exactly</em> this looks like varies from city to city and person to person.</p>
  <p>Regardless of location, we desire to live in a way that reflects our values: serving God, loving others, living actively, eating healthy and enjoying the beauty of God's creation. These values are our shove out the door each morning. They make us sweaty, they make us vulnerable and they challenge us to push beyond what we were able (or willing) to do yesterday.</p>
  <p>We share our experiences living out this philosophy: the thrilling highs of personal progress, the frustrating lows of a warped culture and everything in between.</p>
  <blockquote>"I write to make peace with things I cannot control. I write to create a fabric in a world that often appears black and white. I write to discover. I write to uncover. I write to meet my ghosts. I write to begin a dialogue. I write to imagine things differently and in imagining things differently perhaps the world will change." &mdash; Terry Tempest in <em>Why We Write</em></blockquote>
</div>
{% endblock %}
