@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

$header-font: 'Open Sans',sans-serif;
$content-font: Quattrocento,serif;

$content-font-size: 2rem;

$font-color: #444;
$background-color: #f6f8f7;
