@import 'fonts';

body {
  color: #444;
  font-family: $body-font;
  font-size: 10px;
}

a {
  border-bottom: 1px dotted #444;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-family: $header-font;
  margin-bottom: 20px;

  a {
    border: 0;
    color: #444;
  }
}

p {
  margin: 0 0 20px;
}

.admin-bar {
  padding: 10px;
}

.container {
  width: auto;
  max-width: 760px;
}

.post-expanded {
  margin-bottom: 40px;

  h2 {
    font-size: 4rem;

    a {
      color: #333;
      text-decoration: none;
    }
  }

  p {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.post-nav {
  font-size: 1.8rem;
  margin: 40px 0;

  a {
    color: #444;
    display: block;

    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
  }
}

.footer {
  background-color: #444;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 40px;
  padding: 40px 0;
  width: 100%;

  a {
    border-bottom: 1px dotted #fff;
    color: #fff;
  }
}
