.container {
  width: auto;
  max-width: 930px;
  padding: 0 15px;
}

.footer {
  background-color: #eee;
  padding: 30px;
  width: 100%;
}

.post-expanded {
  .post-image {
    border: 1px solid #fff;
  }

  .post-body p {
    font-size: 1.3em;
    line-height: 1.7em;
    margin: 0 100px 10px;
    max-width: 730px;
  }
}

.post-contracted {
  margin: 20px 0;

  h3 {
    margin-top: 0;
  }
}

.post-nav {
  margin: 40px 0;
}

.admin-bar {
  padding: 10px;
}
