{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Environmental Friction{% endblock title %}</title>
  {% block extra_head %}{% endblock extra_head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
  {% if user.is_staff %}
    <div class="container-fluid">
      <div class="row bg-primary admin-bar">
        <a href="{% url 'admin:blog_post_add' %}">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> New Post
          </button>
        </a>
        {% if post %}
          <a href="{% url 'admin:blog_post_change' post.pk %}">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Post
            </button>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row page-header">
      <h1><a href="/">Environmental Friction</a></h1>
    </div>
    {% block content %}{% endblock content %}
  </div>

  <div class="footer">
    <div class="container text-center">
      <a href="#">About</a> &sdot;
      <a href="#">Archives</a> &sdot;
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
    </div>
  </div>
</body>
</html>
